@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');



nav{
    background: #45878d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    gap: 1rem;
    width: 100%;
}

nav ul {
list-style: none;
display: flex;
margin: 0;
padding-right: 5rem;
gap: 2rem;

}

#link {
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;

}

#link:hover{
    color: #0b6980;
}

form {
border: none;    
background: #9cd3d8;
font-family: 'Nunito', sans-serif;
display: flex;
margin: 0;

}

#header-search{
    width: 15rem;
}



form button {
    border:none;
    background: #9cd3d8;
    height: 100%;
    margin: 0;
    
}

form button:hover{
    color: #0b6980;
   
}





