


.home {
    display: flex;
    background-color: white;
}

.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#pageLink{
    color: white;
    font-size: 32px;
    text-decoration: none;
    align-content: left;
}

#pageLink:hover{
    color: #6a6b6c;
    text-decoration: none;
    align-content: left;
}

.filters {
    background-color: #00474e;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0;
    height: inherit;
}

.filters > span {
    padding-bottom: 20px;
}

.title {
    font-size: 30px;
}

.products {
    width: 450px;
    margin: 10px;
    position: static;
}

.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.cartItemImg{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.summary {
    width:30%
}

@media (max-width:771px) {

    /* .filters {
        width: 40%;
        padding: 10px;
        margin: 5px;
    }

    .filters > span {
        font-size: 10px;
    } */

    .title {
        font-size: 18px !important;
    }

    .productContainer {
        width: 60%;
        padding: 0;
        margin: auto;
    }

    .search, .filters {
        display: none !important;
    }

    .products {
        width: 100%;
    }

}


/* optionals */

.detailHeading{
    font-weight: bold;
}

.col-md-2 {
    text-align: center;
}
